.width40 {
	width:40%;
}

.width60 {
	width:60% !important;
}

.width70 {
	width:70%;
}


.width80 {
	width:80%;
}

.width100 {
	width:100%;
}

.width20collapse {
	width:20%;
	visibility:hidden;
}

.customfont {
	font-family:"Courier New", Courier, monospace;
	font-weight:bolder;
}

.float {
	float:left;
}

.nofloat {
	float:none;
}

@media screen and (max-width: 600px) {
	.width40,.width60,.width80 {
		width:95% !important;
	}
	.float {
		float:none;
	}
	.width70 {
		width:100%  !important;
	}	
	.width20collapse {
		visibility:collapse;
	}
}